<h1>Perfect Scrambled Eggs</h1>

<img src="img/eggs.jpeg" alt="">

<h3>How to make the perfect scrambled eggs</h3>

<h4>Ingredients</h4>

<li>3 Large eggs</li>
<li>1 pinch of kosher salt</li>
<li>1 grind of black pepper</li>
<li>3 tablespoons of whole milk</li>

<h4>Directions</h4>

<ol>
    <li>Whisk the eggs: Whisk 3 large eggs, 1 pinch of kosher salt, 1 grind of black pepper and 3 tablespoons whole milk
        together until light and foamy.
    </li>
    <li>TIP: Odds are you're going to be serving these on a plate. If so, I strongly suggest you park an ovensafe one in
        a low oven or in hot water while you're cooking. Cold plates suck the heat right out of food.
    </li>
    <li>Add to the pan: Add 1 tablespoon unsalted butter to a 10-to-12-inch nonstick skillet and put it over high heat.
        When the butter bubbles (after about a minute), pour the eggs straight into the middle of the pan, which will
        force the butter to the edges, where it's needed.
    </li>
    <li>Scramble the eggs: Stir slowly with a rubber or silicone spatula. As soon as curds (big soft lumps) of eggs
        begin to form, drop the heat to low and shift from stirring to folding the curds over on themselves while gently
        shaking the pan with the other hand.
    </li>
    <li>Let rest: As soon as no more liquidous egg is running around the pan, kill the heat and gently transfer the
        scramble to the warmed plate. Let the eggs rest for 1 minute to finish cooking before serving.
    </li>
</ol>