<h1>World's Best Lasagna</h1>

<img src="img/lasagna_pic.jpeg">

<h3>How to make the world's best lasagna</h3>

<h4>Ingredients</h4>

<li>1 pound sweet Italian sausage</li>
<li>3/4 pound lean ground beef</li>
<li>1/2 cup minced onion</li>
<li>2 cloves garlic, crushed</li>
<li>1 (28 ounce) can of crushed tomatoes</li>
<li>2 (6 ounce) cans tomato paste</li>
<li>2 (6.5 ounce) cans tomato sauce</li>
<li>1/2 cup water</li>
<li>2 tablespoons white sugar</li>
<li>1 1/2 teaspoons dried basil leaves</li>
<li>1/2 teaspoon fennel seeds</li>
<li>1 teaspoon Italian seasoning</li>
<li>1 1/2 teaspoons salt, divided, or to taste</li>
<li>1/4 teaspoon ground black pepper</li>
<li>4 tablespoons chopped fresh parsley</li>
<li>12 lasagna noodles</li>
<li>16 ounces ricotta cheese</li>
<li>1 egg</li>
<li>3/4 pound mozzarella cheese, sliced</li>
<li>3/4 cup grated Parmesan cheese</li>

<h4>Directions</h4>

<ol>
    <li>In a Dutch oven, cook sausage, ground beef, onion, and garlic over medium heat until well browned. Stir in crushed
    tomatoes, tomato paste, tomato sauce, and water. Season with sugar, basil, fennel seeds, Italian seasoning, 1
    teaspoon salt, pepper, and 2 tablespoons parsley. Simmer, covered, for about 1 1/2 hours, stirring occasionally.
    </li>
    <li>Bring a large pot of lightly salted water to a boil. Cook lasagna noodles in boiling water for 8 to 10 minutes.
    Drain noodles, and rinse with cold water. In a mixing bowl, combine ricotta cheese with egg, remaining parsley, and
    1/2 teaspoon salt.
    </li>
    <li>Preheat oven to 375 degrees F (190 degrees C).</li>
    <li>To assemble, spread 1 1/2 cups of meat sauce in the bottom of a 9x13-inch baking dish. Arrange 6 noodles lengthwise
    over meat sauce. Spread with one half of the ricotta cheese mixture. Top with a third of mozzarella cheese slices.
    Spoon 1 1/2 cups meat sauce over mozzarella, and sprinkle with 1/4 cup Parmesan cheese. Repeat layers, and top with
    remaining mozzarella and Parmesan cheese. Cover with foil: to prevent sticking, either spray foil with cooking
    spray, or make sure the foil does not touch the cheese.
    </li>
    <li>Bake in preheated oven for 25 minutes. Remove foil, and bake an additional 25 minutes. Cool for 15 minutes before
    serving.
    </li>
</ol>