* {
    font-family: 'Open Sans', sans-serif;
}

body {

}

#nav {
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #ccc;
}

#nav a {
    display: flex inline;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: black;
}

#nav a:hover {
    color: #a6a6a6;
}

#header {
    text-align: center;
}

.article {
    width: 25%;
}

.post-title {
    float: right;
}

.post-content {
    float: right;
}

